[Desktop Entry]
Type=Application
Name=Weather Widget
Exec=/home/YOURUSER/Weather-widget-in-C-for-debian-ubuntu/weather-widget
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Terminal=false
